<div class="card my-5">
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" #userForm="ngForm">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" [(ngModel)]="user.name" class="form-control" id="name" name="name" placeholder="Enter your name" required #name="ngModel">
      </div>
      <div [hidden]="!name.pristine" class="alert alert-danger">Name is required</div>

      <div class="form-group">
        <label for="groupId">Group</label>
        <select [(ngModel)]="user.groupId" class="form-control" id="groupId" name="groupId" #groupId="ngModel">
          <option *ngFor="let group of groups | keyvalue" [value]="group.key" required>{{group.key}}</option>
        </select>
      </div>
      <div [hidden]="!groupId.pristine" class="alert alert-danger">Group is required</div>

      <button type="submit" [disabled]="!userForm.form.valid" class="btn btn-info">Submit</button>
    </form>
  </div>
</div>
